@import '../App.scss';

.itemsInCart {
    display: flex;
    border: 3px solid $light-grey;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    margin: 20px 0 0;

    @media (max-width: 991px) {
        margin-top: 10px;
    }


    .info {
        width: 30%;
        position: relative;

        .image {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 10px 0 0 0;

            img {
                width: 100%;
                height: 100%;

            }
        }

        .details {
            position: absolute;
            left: 0;
            bottom: 0;
            background: $white;
            width: 100%;
            padding: .5rem;
            border-right: 3px solid $light-grey;

            .name {
                font-size: 18px;
                color: $black;
            }

        }
    }

    .qtyAndTotal {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;


        .removebtn {
            padding: 5px 10px;
            color: $white;
            background: $black;
            border: none;
            outline: none;
            border-radius: 5px;
            user-select: none;
            cursor: pointer;
        }
    }

    .price {
        display: flex;
        color: $dark-grey;

        span {
            margin-right: .2rem;
        }
    }


    @media (max-width: 578px) {
        flex-direction: column;


        .info {
            width: 100%;
            display: flex;
            flex-direction: row;

            .image {
                width: 30%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .details {
                position: static;
                width: 70%;
                padding: 1rem;
                border-right: none;
            }


        }


        .qtyAndTotal {
            width: 100%;
            flex-wrap: wrap;
            padding: 1rem 0;
        }
    }

    @media (max-width: 450px) {
        .info {
            .image {
                width: 40%;
            }

            .details {
                width: 60%;
            }
        }

    }
}