@import '../App.scss';

.book-table {
    .table {
        margin-top: 3rem;
        margin-bottom: 25rem;

        @media (max-width: 1439px) {
            margin-bottom: 20rem;
        }

        @media (max-width: 1199px) {
            margin-bottom: 18rem;
        }

        @media (max-width: 991px) {
            margin-bottom: 16rem;
        }

        @media (max-width: 767px) {
            margin-bottom: 14rem;
        }

        @media (max-width: 575px) {
            margin-bottom: 13rem;
        }
    }
}