@import '../App.scss';

.not-found {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
        color: $black;
        .error404 {
            font-size: 100px;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
            a {
                color: rgb(46, 46, 245);
            }
        }
    }


    @media (max-width: 576px) {
        div {
            .error404 {
                font-size: 60px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    
}

